# Fitbit API Credentials
FITBIT_CLIENT_ID=
FITBIT_CLIENT_SECRET=
FITBIT_REDIRECT_URI=http://localhost:3003/fitbit/callback

# Server
PORT=3003
CORS_ORIGINS=http://localhost:3003

# Database Configuration
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=fitbit_db
